/* src/index.css or src/App.css */

/* Ensure the full height layout for flexbox */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  /* Add this to your main CSS file, e.g., App.css */

.active-link {
  color: #14A39A !important; /* Active link color */
}
